%h4
  Order subtotal:
  = number_to_currency current_order.recalculate_total_price
- if current_order.delivery.present?
  %h4
    Delivery:
    = number_to_currency current_order.delivery
%h4
  Order Total:
  = number_to_currency current_order.total_price