%h4
  Order subtotal:
  = number_to_currency order.recalculate_total_price
- if order.delivery.present?
  %h4
    Delivery:
    = number_to_currency order.delivery
%h4
  Order Total:
  = number_to_currency order.total_price