%ul.breadcrumb
  - if current_page?('/checkout/adresses')
    %li.active       
      ADDRESSES
  - else       
    %li
      = link_to "ADDRESSES", wizard_path(:adresses)
  - if current_page?('/checkout/delivery')
    %li.active       
      DELIVERY
  - else       
    - if current_order.billing_address.present? && current_order.shipping_address.present?
      %li
        = link_to "DELIVERY", wizard_path(:delivery)              
    - else
      %li
        DELIVERY 
  - if current_page?('/checkout/payment')
    %li.active       
      PAYMENT
  - else       
    - if current_order.delivery.present?
      %li
        = link_to "PAYMENT", wizard_path(:payment)           
    - else
      %li
        PAYMENT 
  - if current_page?('/checkout/confirm')
    %li.active       
      CONFIRM
  - else       
    - if current_order.finishable?
      %li
        = link_to "CONFIRM", wizard_path(:confirm)            
    - else
      %li
        CONFIRM   
  %li
    COMPLETE

