%h3.text-center
  Check Out
  .row
    .col-xs-12
      = render "steps"
      = render "address", address: @checkout, address_path: wizard_path(:adresses)
      = render "order_information", order: current_order

      
