%h3.text-center
  Check Out
  .row
    .col-xs-8.col-xs-offset-2
      = render "layouts/steps"
      = render "confirm", billing_address: current_order.billing_address, shipping_address: current_order.shipping_address, credit_card: current_order.credit_card, order: @checkout, order_path: wizard_path