%h3.text-center
  Check Out
  .row
    .col-xs-8.col-xs-offset-2
      = render "steps"
      = render "credit_card", credit_card: @checkout, credit_card_path: wizard_path
      = render "order_information", order: current_order