= f.text_field :number, :placeholder => "Card Number"
Expiration date:
= f.select(:expiration_month, options_for_select(cc_months), :placeholder => "Month")
= f.select(:expiration_year, options_for_select(cc_years), :placeholder => "Year")
= f.text_field :cvv, :placeholder => "Card Code"