%h3.text-center 
  Books for sale
  .row
    .col-xs-6.col-xs-offset-3
      #bestsellers.owl-carousel.owl-theme
        - @books.each do |book|
          .item
            = render "books_row", book: book