- if !@orderitem.nil? && @orderitem.errors.any?
  .alert.alert-danger
    %ul
      - @orderitem.errors.full_messages.each do |msg|
        %li= msg
- if @orderitems.size == 0
  .text-center
    %p 
      There are no items in your shopping cart. Please 
      = link_to "go back and choose", root_path
- else 
  - @orderitems.each do |orderitem|
    = render 'cart_row', book: orderitem.book, orderitem: orderitem, show_total: true
