%h3.text-center
  Check Out
  .row
    .col-xs-6.col-xs-offset-3
      = render "layouts/steps", billing_address_path: nil, shipping_address_path: new_shipping_address_path, credit_card_path: nil, order_path: nil
      = render "layouts/address", address: @shipping_address, address_path: shipping_addresses_path