%h3.text-center
  Check Out
  .row
    .col-xs-6.col-xs-offset-3
      - if @billing_address.present?
        = render "address", address: @billing_address
      - elsif @shipping_address.present?
        = render "address", address: @shipping_address