%ul.breadcrumb
  - if current_page?('/checkout/adresses')
    %li.active       
      ADDRESSES
  - else       
    - if current_order.billing_address.blank? && current_order.shipping_address.blank?
      %li       
        ADDRESSES     
    - else
      %li
        = link_to "ADDRESSES", wizard_path(:adresses)
  - if current_page?('/checkout/delivery')
    %li.active       
      DELIVERY
  - else       
    - if current_order.delivery.blank?
      %li       
        DELIVERY    
    - else
      %li
        = link_to "DELIVERY", wizard_path(:delivery)  
  - if current_page?('/checkout/payment')
    %li.active       
      PAYMENT
  - else       
    - if current_order.credit_card.blank?
      %li       
        PAYMENT     
    - else
      %li
        = link_to "PAYMENT", wizard_path(:payment)
  - if current_page?('/checkout/confirm')
    %li.active       
      CONFIRM
  - else       
    - if current_order.billing_address.blank? && current_order.shipping_address.blank? || current_order.credit_card.blank?
      %li       
        CONFIRM      
    - else
      %li
        = link_to "CONFIRM", wizard_path(:confirm)   
  %li
    COMPLETE

